<header class="header">
    <div class="wrapper">
        <div class="header-wrapper">
            <div class="logo">
                <a href="./index.html" class="logo-link">QPICK</a>
            </div>
            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-item">
                        <a href="#!" class="header-link">
                            <img src="../../assets/images/svg/like.svg" alt="image-like">
                        </a>
                    </li>
                    <li class="header-item">
                        <a href="./cart.html" class="header-link">
                            <img src="../../assets/images/svg/cart.svg" alt="image-cart">
                        </a>
                    </li>
                    <li class="header-tips">
                        <div class="like-tip">
                            <div class="header-tip">
                                <span class="header-tip-number"> 1 </span>
                                <img class="header-tip-image" src="../../assets/images/svg/ellipse.svg" alt="tip-ellipse">
                            </div>
                        </div>
                        <div class="cart-tip">
                            <div class="header-tip">
                                <!-- <span class="header-tip-number"> 2 </span> -->
                                <img class="header-tip-image" src="../../assets/images/svg/ellipse.svg" alt="tip-ellipse">
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>