<footer class="footer">
    <div class="wrapper">
        <div class="footer-wrapper">
            <div class="footer-logo">
                <span class="logo-link"> QPICK </span>
            </div>
            <div class="footer-container">
                <nav class="footer-nav">
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a routerLink="/favorities" class="footer-link">
                                <span> Favorites </span>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a routerLink="/cart" class="footer-link">
                                <span> Cart </span>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a routerLink="/contacts" class="footer-link">
                                <span> Contacts </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="language">
                    <ul class="language-list">
                        <li class="footer-item">
                            <a routerLink="/terms-of-service" class="footer-link">
                                <span> Terms of service </span>
                            </a>
                        </li>
                        <li class="language-item">
                            <img class="language-link" src="../../assets/images/svg/group.svg" alt="Group">
                            <a routerLink="/ru" class="language-link">
                                <span> Rus </span>
                            </a>
                            <a routerLink="/en" class="language-link">
                                <span> Eng </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="/social" class="language-link">
                            <img src="../../assets/images/svg/vk.svg" alt="VK">
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="/social" class="language-link">
                            <img src="../../assets/images/svg/telegram.svg" alt="Telegram">
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="/social" class="language-link">
                            <img src="../../assets/images/svg/whatsapp.svg" alt="WhatsApp">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
